

.header {
  padding: 30px;
  text-align: left;
  background: #4CAF50;
  display: flex;
  align-items: center;
  color: white;
  font-family: "Comic Sans MS";
  font-size: 18px;
  height: 6rem;
}
.centerd {

}


.buttonwrapper{
    width: 100%;
    padding: 3rem;
}
body{
    overflow-x: hidden;

}
.button {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    margin: 10px 0 10px 0;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}


.button[pressed = "true"]:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

*{font-family: "Comic Sans MS";
}

.taskZoneContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0, 0.3);
    top: 0;
    left: 0;
    display: none;


}
.taskZone {
    background: white;
    width: 60%;
    height: 70%;
    
}

.ZoneHeader {
  text-align: left;
  padding: 10px;
  background: grey;
  display: flex;
  align-items: center;
  justify-content: left;
  color: white;
  font-family: "Comic Sans MS";
  font-size: 18px;
  height: 4rem;
  position: relative;
}

.taskZoneOpen{
    display: flex;
}

.taskZoneClose {
    display: none;
}

#closeButton {
    position: absolute;
    right: 10px;
    top: 0px;
    height: 1.5rem;
    line-height: 25px;
}

.text {
    text-align: left;
}
.bar {
    height: 4rem;
    background: red;
    margin: .5rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#barWrapper {
    height: 5rem;
    width: 60rem;
    background: black;
    margin: 1rem;
    display: flex;
    justify-content: left;
    position: relative;
    right: 0px;

}
