html, body {
  height: 100%;
  margin: 0;

}

.header {
  padding: 30px;
  text-align: left;
  background: #4CAF50;
  display: flex;
  align-items: center;
  color: white;
  font-family: "Comic Sans MS";
  font-size: 18px;
  height: 80px;
}
.centerd {

}


.buttonwrapper{
    width: auto;
    padding: 3rem;

}
body{
    display: flex;
    overflow-x: hidden;
    background-color: white;
    flex-direction: column;

}
.button {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    margin: 10px 0 10px 0;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}


.button[pressed = "true"]:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

*{font-family: "Comic Sans MS";
}

.taskZoneContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0, 0.3);
    top: 0;
    left: 0;
    display: none;


}
.taskZone {
    background: white;
    width: 60%;
    height: 70%;
    position: relative;

}

.ZoneHeader {
  text-align: left;
  padding: 10px;
  background: grey;
  display: flex;
  align-items: center;
  justify-content: left;
  color: white;
  font-family: "Comic Sans MS";
  font-size: 18px;
  height: 4rem;
  position: relative;
}

.taskZoneOpen{
    display: flex;
}

.taskZoneClose {
    display: none;
}

#closeButton {
    position: absolute;
    right: 10px;
    top: 0px;
    height: 1.5rem;
    line-height: 25px;
}

.text {
    text-align: left;
}
.bar {
    height: 4rem;
    background: red;
    margin: .5rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#barWrapper {
    height: 5rem;
    width: 60rem;
    background: black;
    margin: 1rem;
    display: flex;
    justify-content: left;
    position: relative;
    right: 0px;

}
#shitwrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  flex-grow: 1;
}

.points {
  position: absolute;
  left: 10px;
  font-size: 10;
  z-index: 1;
}
.question {
    font-size: 12;
    text-align: left;

}

.input {
    display: flex;
    align-items: left;
    display: none;
}
.inputopen {
    display: block !important;
}
#enterButton {
    width: auto;
    height: auto;
    padding: 5px;
    display: inline-flex;
    text-align: center;
    align-items: center;

}
#nextButton {
    display: flex;
    position: absolute;
    bottom: 0px;
    right: 10px;
    text-align: center;
    width: auto;
    height: auto;
}
.chatZoneContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0, 0.3);
  top: 0;
  left: 0;
  display: none;
}
.shopZoneContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0, 0.3);
    top: 0;
    left: 0;
    display: none;
}
.chatZone {
  background: white;
  width: 60%;
  height: 70%;
  position: relative;
  /* overflow-y: auto; */
}
.chatZoneOpen {
  display: flex;
}
.chatZoneClose {
  display: none;
}

.shopZone {
    background: white;
    width: 60%;
    height: 70%;
    position: relative;

}
.shopZoneOpen{
    display: flex;
}

.shopZoneClose {
    display: none;
}
.chatZoneHeader {
  text-align: left;
  color: white;
  padding: 10px;
  background: grey;
  display: flex;
  align-items: center;
  justify-content: left;
  font-family: "Comic Sans MS";
  font-size: 18px;
  height: 4rem;
  position: relative;
}
.shopHeader {
  text-align: left;
  padding: 10px;
  background: grey;
  display: flex;
  align-items: center;
  justify-content: left;
  font-family: "Comic Sans MS";
  font-size: 18px;
  height: 4rem;
  position: relative;
}
#chatCloseButton {
  position: absolute;
  right: 10px;
  top: 0px;
  height: 1.5rem;
  line-height: 25px;
}
#shopCloseButton {
    position: absolute;
    right: 10px;
    top: 0px;
    height: 1.5rem;
    line-height: 25px;
}
.head {
color: white;
}

#description {
  color: black;
}
.itemsContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.item {
  display: flex;
  flex-direction: row;
  height: 5rem;
  width: 8rem;
  background-color: grey;
  margin: 3rem;
  text-align: center;
  justify-content: center;
  align-items: center;

}
#custom {
  display: flex;
  align-items: center;
}

.chatRoom {
  width: 80%;
  height: 3rem;
  border: .3rem solid gold;
  background-color: grey;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow-y: auto;
}
.chatwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
#posts {
  position: absolute;
  display: flex;
  bottom: 1rem;
  left: 1rem;
  align-items: baseline;
}
.chatInput{
  display: flex;
  height: 1rem;
  right: 1rem;
  bottom: 1rem;

}
#postSubmit {
  width: auto;
  height: auto;
  display: inline-flex;
  text-align: center;
  align-items: center;
  padding: 0px !important;
}
#submitText {
  font-size: 18px !important;
  padding: 0px;
  margin: 0px;
}
#postWrapper {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 80%;
  /* overflow-y: auto */
}

.pins {
  background-color: grey;
  border: .2rem solid gold;
  min-height: 3rem !important;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: .1rem;
}
